.invalid-routes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.invalid-routes > div{
    text-align:center;
}

.invalid-routes > div:first-child{
    font-size: 16px;
}

.invalid-routes > div:last-child{
    font-size: 12px;
}