.mail-item{
    display: flex;
    flex-direction: column;    
    padding: 5px 10px;
}

.mail-item:nth-child(2n){
    border-top: 1px solid #979794;
    border-bottom: 1px solid #979794;
}

.mail-item:last-child{
    border-bottom: 1px solid #979794;
}

.mail-item .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: #9d9690;
    width: 20%;
    align-self: flex-end;
    visibility: hidden;    
}

.mail-item .icons > div{
    width: 33%;
}

.mail-item .icons > div:hover{
    text-decoration: underline;
    color: #0c70ec;        
}

.mail-item  .subject{
    font-size: 16px;
    margin-top: 10px;
}

.mail-item .mail_body{
    font-size: 14px;
    color: #7c7671;
}

.mail-item.unread {
    border-left: 5px solid #0078D4;
    
}

.mail-item.unread .subject{
    color: #0078D4;
}

.mail-item:hover{
    background-color: #b2b7bc2e;
    cursor: pointer;
}

.mail-item:hover .icons{
    visibility: visible;
}

.mail-item.flagged {
    background-color: #fffdd9;
}

.mail-item.activeMailItem{
    background-color: #c7e0f4;
}